{{extend 'layout.html'}}
<div id="content">
    <div class="post greenbox">
           <div class="title">
                <h1>Insertar Categoria</h1>
           </div>
           <div class="entry">
                    {{=form}}
           </div>
           <div class="btm">
              <div class="l">
                  <div class="r">
                       <small>*Por favor llenar todos los campos solicitados</small>
                  </div>
              </div>
           </div>
     </div>
</div>
<div id="sidebar">
  <ul>
    <li>
      <h2>
       Categorias Agregadas
      </h2>
      <ul align="center">
         {{for cat in categorias:}}
         {{=T(cat.nombre)}}
         {{pass}}
      </ul>
    </li>
     
     <!--<h2>
      Titulo2
     </h2>
     <ul>
      Mundo
     </ul>
   </ul>-->
</div>
{{pass}}
