{{extend 'layout.html'}}
<div id="content">
    <div class="post greenbox">
           <div class="title">
                <h1>Insertar Evento</h1>
           </div>
           <div class="entry">
                    {{=form}}
           </div>
           <div class="btm" align="center">
              <div class="l">
                  <div class="r">
                       <small>*Por favor llenar todos los campos solicitados</br></small>
                                       <small>{{=A('Regresar', _href=URL("indexAdmin"))}}</small>
                  </div>
              </div>
           </div>
     </div>
</div>
<div id="sidebar">
  <ul>
    <li>
      <h2>
       Eventos Agregados
      </h2>
      <ul align="center">
        {{cont = 0}}
        {{for evt in eventos:}}
        {{cont += 1}} 
        {{if (cont < 5):}}
        {{=LI(A(evt.nombre, _href=URL("showEvento", args=evt.id)))}}
        {{pass}}
        {{else:}}
        <small> {{=LI(A("Ver Mas", _href=(URL("mostrarEvento"))))}}</small>
        {{pass}}        
      </ul>
    </li>
</div>
{{pass}}
