{{extend 'layout.html'}}

<div id="content">
    <div class="post greenbox">
           <div class="title">
                <h1>Crear EventoParticipante</h1>
           </div>
           <div class="entry">
                    {{=form}}
           </div>
           <div class="btm" align="center">
              <div class="l">
                  <div class="r">
                       <small>*Por favor llenar todos los campos solicitados</br></small>
                                       <small>{{=A('Regresar', _href=URL("index"))}}</small>
                  </div>
              </div>
           </div>
     </div>
</div>
