{{extend 'layout.html'}}
<div id="content">
    <div class="post greenbox">
           <div class="title">
                <h1>Bienvenido al Sistema de Gestion 1.0</h1>
           </div>
           <div class="entry">
                    <h1 align="center"><b>Ultimas novedades</b></h1>
                    Noticias, Noticias, Noticias
           </div>
           <div class="btm" align="center">
              <div class="l">
                  <div class="r">
                       &nbsp;
                  </div>
              </div>
           </div>
     </div>
     
        <div class="two-columns">
            <div class="columnA">
                <div class="title red">
                    <h2>Administrar Categorias</h2>
                </div>
                <div class="content">
                    <ul>
                        <a href="crearCategoria">Nueva Categoría<br></a>
                        <a href="mostrarCategoria">Verificar Categoría</a>
                    </ul>
                </div>
            </div>
            <div class="columnB">
                <div class="title blue">
                    <h2>Administrar Eventos</h2>
                </div>
                <div class="content">
                    <ul>
                        <a href="crearEvento">Nuevo Evento<br></a>
                        <a href="mostrarEvento">Verificar Evento</a>
                    </ul>
                </div>
            </div>
            <div class="btm">&nbsp;</div>
        </div>
    </div>
<div id="sidebar">
 <ul>
    <li>
      <h2>
           Administrar Máquinas
      </h2>
      <ul>
         <li>Nueva Maquina</li>
         <li>Verificar Maquina</li>
      </ul>
    </li>
    <li>
      <h2>
           Administrar Usuarios
      </h2>
     <ul>
        <li><a href="crearUsuario">Nuevo Usuario</a></li>
        <li><a href="mostrarUsuario">Verificar Usuario</a></li>
     </ul>
    </li> 
  </ul>
</div>
