{{extend 'layout.html'}}

<div id="content">
    <div class="post greenbox">
           <div class="title">
                <h1>Bienvenidos Usuarios</h1>
           </div>
                        <div class="content">
                    <ul>
                        <a href="verResultado1">Visualizar Eventos Realizados<br></a>
                        <a href="verProximosEventos1">Ver Proximos Eventos<br></a>                        
                    </ul>
                </div>
           <div class="btm" align="center">
              <div class="l">
                  <div class="r">
                       &nbsp;
                  </div>
              </div>
           </div>
     </div>
   </div>
