{{extend 'layout.html'}}
<div id="content">
    <div class="post greenbox">
           <div class="title">
                <h1>Bienvenido al Sistema de Gestion 1.0</h1>
           </div>
           <div class="entry">
                    <h1 align="center"><b>Ultimas novedades</b></h1>
                    <br/>
                    Cargar Archivo:
                     <small>{{=A('Archivo Propio', _href=URL("cargarArchivoPropio"))}}</small>
                      <small>{{=A('Archivo Ajeno', _href=URL("cargarArchivoAjeno"))}}</small>
           </div>
           <div class="btm" align="center">
              <div class="l">
                  <div class="r">
                       &nbsp;
                  </div>
              </div>
           </div>
     </div>
     
        <div class="two-columns">
            <div class="columnA">
                <div class="title red">
                    <h2>Administrar Categorias</h2>
                </div>
                <div class="content">
                    <ul>
                        <a href="crearCategoria">Nueva Categoría<br></a>
                        <a href="mostrarCategoria">Verificar Categoría</a>
                    </ul>
                </div>
            </div>
            <div class="columnA">
                <div class="title red">
                    <h2>Evento Participante</h2>
                </div>
                <div class="content">
                    <ul>
                        <a href="crearEventoParticipante">Nuevo EventoParticipante<br></a>
                        <a href="mostrarEventoParticipante">Verificar EventoParticipante</a>
                    </ul>
                </div>
            </div>
            <div class="columnB">
                <div class="title blue">
                    <h2>Administrar Eventos</h2>
                </div>
                <div class="content">
                    <ul>
                        <a href="crearEvento">Nuevo Evento<br></a>
                        <a href="mostrarEvento">Verificar Evento</a>
                    </ul>
                </div>
            </div>
            <div class="columnB">
                <div class="title blue">
                    <h2>Generar</h2>
                </div>
                <div class="content">
                    <ul>
                        <a href="mostrar">Archivo XML<br></a>
                        <a href="reportes">Reportes<br></a>                        
                    </ul>
                </div>
            </div>
            <div class="btm">&nbsp;</div>
        </div>
    </div>
<div id="sidebar">
 <ul>
    <li>
      <h2>
           Máquinas
      </h2>
      <ul>
        <li><a href="maquinas">Maquinas</a></li>
      </ul>
    </li>
    <li>
      <h2>
           Usuarios
      </h2>
     <ul>
        <li><a href="crearUsuario">Nuevo Usuario</a></li>
        <li><a href="mostrarUsuario">Verificar Usuario</a></li>
     </ul>
    </li>
    <li>
      <h2>
           Participantes
      </h2>
     <ul>
        <li><a href="crearParticipante">Crear Participante</a></li>
        <li><a href="mostrarParticipante">Mostrar Participante</a></li>
     </ul>
    </li>  
  </ul>
</div>
