{{extend 'layout.html'}}
<script src="http://maps.google.com/maps?file=api&amp;v=2&amp;hl=es&amp;key=ABQIAAAA30JtKUU8se-7KKPRGSfCMBT2yXp_ZAY8_ufC3CFXhHIE1NvwkxRZNdns2BwZvEY-V68DvlyUYwi1-Q" type="text/javascript"></script>
<script type="text/javascript">
agregando = false;
eliminando = false;
map = null;

function setMensaje(info){
    var fragmentoInfo = info.split("|");
    var mensaje = "<b>Información General:</b><br/><br/>";
    for (i = 0; i < fragmentoInfo.length; i++){
        mensaje += fragmentoInfo[i] + "<br/>";
    }
    return mensaje;
}

function centrarMapa(lat, lon){
      var zoom = 5;
      var punto = new GLatLng(lat, lon);
      map.setCenter(punto, zoom);
}

/*
* @param Mapa provisto por Google Maps, punto geográfico, mensaje a desplegar
* Agrega el marcador en el mapa en el punto geografico dado.
* Asimismo, le coloca un mensaje de descripción a este.
*/

function agregarMarcador(map, punto, mensaje){
    var nuevoMarcador = new GMarker(punto);
    GEvent.addListener(nuevoMarcador, "click", function() {
        this.openInfoWindowHtml("Lat: " + this.getPoint().lat()
                                 + "<br/>Lon: " + this.getPoint().lng() + "<br/><br/>" + mensaje);
    });   
    map.addOverlay(nuevoMarcador);
}

/*
* @param Mapa Provisto por Google Maps
* Carga las posiciones de las maquinas de apuestas
* registradas en la Base de Datos
*/

function cargarMarcadores(map){
    {{for maquina in maquinas:}}
    var lat = {{=T(maquina.latitud)}};
    var lon = {{=T(maquina.longitud)}};
    var punto = new GLatLng(lat, lon);
    var maquina = "<b>Maquina:</b> {{=T(str(maquina.id))}}";
    var procesador = "<b>Procesador:</b> {{=T(maquina.procesador)}}";
    var capacidadRam = "<b>Capacidad Ram:</b> {{=T(maquina.capacidadMemoriaRam)}}";
    var capacidadDisco = "<b>Capacidad Disco:</b> {{=T(maquina.capacidadDiscoDuro)}}";
    var info = maquina + "|" + procesador + "|" + capacidadRam + "|" + capacidadDisco;
    var mensaje = setMensaje(info);
    agregarMarcador(map,punto,mensaje);
    {{pass}}
}

/*
* Función de carga del mapa en la Interfaz.
* Agrega también la funcionalidad de los eventos asociados.
*/

function load() {
  if (GBrowserIsCompatible()) {
    // Variables para el mapa
    var lat = 6.000000;
    var lon = -68.000;
    var zoom = 5;
 
    // Crear un nuevo mapa
   //var map = new GMap(document.getElementsByClassName("map")[0]);
     
     map = new GMap(document.getElementsByClassName("map")[0]);
 
    // Centrarlo en un punto geográfico y con un nivel de zoom
    map.setCenter(new GLatLng(lat, lon), zoom);
 
    // Añadir los controles de zoom y de tipo de mapa
    map.addControl(new GSmallMapControl());
    map.addControl(new GMapTypeControl());
    
    GEvent.addListener(map, "click", function(marcador, punto) {
      // Crear el nuevo marcador y mostrar sus coordenadas
      if (agregando == true){
          var mensaje = "Hola Mundo";
          agregarMarcador(map,punto, mensaje);
          //Nuevo, hay que poner una marca de que está insertando y una sola marca por vez (controlar eso)
          document.forms[0].maquinas_latitud.value = punto.lat();
          document.forms[0].maquinas_longitud.value = punto.lng();
       }
       else if (eliminando == true){
           if (marcador){
               //Agregar Menu de Eliminar
               map.removeOverlay(marcador);
           }
       }
    });
    cargarMarcadores(map);
  }
}

/*
* Función que cambia el estado de la variable controladora
* que otorga la funcionalidad de agregar
*/

function cambiarEstadoAgregar()
{
    agregando = !agregando;
    if (agregando == true)
    {
        if (eliminando == true)
        {
            cambiarEstadoEliminar();
        }
    }
}


/*
* Función que cambia el estado de la variable controladora
* que otorga la funcionalidad de eliminar
*/

function cambiarEstadoEliminar()
{
    eliminando = !eliminando;
    if (eliminando == true)
    {
        if (agregando == true)
        {
            cambiarEstadoAgregar();         
        }
    }
}
 
window.onload = load;
window.onunload = GUnload;
 
</script>
<style type="text/css">
  .map {border:1px solid black;}
</style>
      <div id="content">
          <div class="post greenbox">
              <div class="title">
                   <h1>Posicionamiento Global de Máquinas</h1>
              </div>
              <div class="entry">
                    <div class="map" style="width: 600px; height: 300px"></div>
                    {{=form.custom.begin}}
                    Procesador: {{=form.custom.widget.procesador}}
                    Memoria Ram: {{=form.custom.widget.capacidadMemoriaRam}}</br>
                    Disco Duro: {{=form.custom.widget.capacidadDiscoDuro}}
                    {{=form.custom.submit}}
                    <input type="hidden" id="maquinas_usuario_id" name="usuario_id" value="11" />
                    <input type="hidden" id="maquinas_estado" name="estado" value="True" />
                    {{if (request.args(0)):}}
                    {{longitud = coordenadas["lon"]}}
                    {{latitud = coordenadas["lat"]}}
                    <input type="hidden" id="maquinas_latitud" name="latitud" value="{{=latitud}}" />
                    <input type="hidden" id="maquinas_longitud" name="longitud" value="{{=longitud}}" />
                    <br/>Click aqui para borrar: {{=form.custom.deletable}}
                    {{else:}}
                    <input type="hidden" id="maquinas_latitud" name="latitud" value="" />
                    <input type="hidden" id="maquinas_longitud" name="longitud" value="" />
                    {{pass}}
                    {{=form.custom.end}}
              </div>
              <div class="btm" align="center">
                  <div class="l">
                      <div class="r">
                <small>{{=A('Regresar', _href=URL("indexAdmin"))}}</small>
                      </div>
                  </div>
              </div>
         </div>
      </div>
      <div id="sidebar">
      <ul>
          <li>
              <h2 align="center">Gestor Maquinas</h2>
              <ul align="center">
                  <li>
                      <button type="button" onclick="cambiarEstadoAgregar()">Agregar Marcador</button>
                  </li>
                  <li>
                  Recuerde que debe seleccionar una coordenada
                  </li>
              </ul>
          </li>
          <li>
              <h2>Lista de Maquinas</h2>
              <ul align="center">
              {{def direccion(atributo):}}
              {{direc = "maquinas/"+str(atributo)}}
              {{return direc}}
              {{pass}}
              {{for maquina in maquinas:}}
              {{url = "javascript:centrarMapa("+maquina.latitud+","+maquina.longitud+")"}}
              {{=LI(A("Editar: ", _href=direccion(maquina.id)),A(maquina.id, _href=url))}}
              {{pass}}
              </ul>
          </li>
      </div>
